/*Optei por começar a estilização por essa medida
para melhorar a qualidade da flexibilização para as menores telas
até as maiores*/

@media (min-width: 690px) {

    .description-plan-box {
        align-items: flex-start;
    }

    .flex-list {
        padding: 30px;
    }

    .flex-list:nth-child(2) {
        border-bottom: 1px solid var(--white);
    }

    .accommodation-box {
        margin-top: 35px;
    }

    .accommodation {
        margin-right: 86px;
    }

    .accommodation svg, .coverage svg {
        margin-right: 13px;
    }

    .hospital-ul-li {
        border: none;
    }

    .accommodation-box {
        display: flex;
    }
}


@media (min-width: 840px) {
    html {
        font-size: 100%;
    }

    .hospital-address {
        display: flex;
    }  

    .hospital-address, .hospital-telephone {
        padding-left: 25px;
    }

    .card-accordion {
        padding:51px 33px 41px 61px;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 12px;
    }

    .card-accordion-p-box {
        max-width: 50%;
    }

    .card-accordion-p-box p {
        padding-right: 25px;
        border-right: 1px solid var(--gray-3);
    }

    .hospital-address {
        border-top: none;
    }

    .menu-toggle {
        display: none;
    }

    .menu-section nav  {
        display: flex;
    }

    .talk-to-us-box {
        display: none;
    }

    .modal-container {
        height: 100vh;
    }

    .modal {
        max-width: 686px;
    }

    .menu-section nav ul li a {
        color:var(--yellow-color-1);
        font-size: 20px;
        margin-right: 24px;
        font-weight:600;
    }

    .hospital-card {
        flex: 1;
        max-width: 100%;
    }

    .hospital-card:first-child {
        margin-right: 1.0rem;
    }

    .hospital-card:nth-child(3) {
        margin-left: 1.0rem;
    }

    .hospital-list-download {
        width:65%;
        margin: 34px 102px 49px 103px;
    }
    
    .description-plan-box {
        max-width: 210px;
    }

    .form-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .form-box form, .send-msg-box {
        flex: 1;
        
    }

    .form-box form {
        padding-right: 62px;
        border-right: 1px solid var(--gray-3);
    }

    form img {
        width:214px;
        height: 62px;
    }

    .send-msg-box {
        padding-left: 62px;
    }

    footer div {
        margin-bottom: 31px;
    }

    .footer-p {
        max-width: 516px;
    }
}

@media (min-width: 992px) {
   
    header {
        background-color: var(--white);
        box-shadow: 0px 5px 6px #00000024;
    }

    header .container-lg {
        width: 100%;
    }
    
    section.hero .container-lg {
        width: 95%;
    }

     main .container-lg {
        width: 85%;
    }

    .hero-content  {
        margin-top: 114px;
        max-width: 500px;
    }

    .hero-content h1 {
        text-shadow: 0px 3px 6px #00000017;
    }

    .hero-content .white-bar {
        margin-bottom: 2.0rem;
    }

    .golden-plan-p {
        display: block;
    }
}