@media (min-width: 840px) {
    .menu-toggle {
        display: none;
    }
    .menu-section nav  {
        display: flex;
    }
    .talk-to-us-box {
        display: none;
    }
    .menu-section nav ul li a {
        color:var(--yellow-color-1);
        font-size: 20px;
        margin-right: 24px;
        font-weight:600;
    }
    .hospital-card {
        flex: 1;
        max-width: 100%;
        /* margin:0 1.0rem; */
    }
    .hospital-card:first-child {
        margin-right: 1.0rem;
    }
    .hospital-card:nth-child(3) {
        margin-left: 1.0rem;
    }
}
@media (min-width: 992px) {
    html {
        font-size: 90%;
    }
    header {
        background-color: var(--white);
        box-shadow: 0px 5px 6px #00000024;
    }
    header .container-lg {
        width: 100%;
    }
    section.hero .container-lg {
        /* max-width:1160px; */
        width: 95%;
    }
     main .container-lg {
        width: 85%;
        /* max-width: 1160px; */
    }
    .hero {
        /* height: 100vh; */
    }
    .hero-content  {
        margin-top: 114px;
        max-width: 500px;
    }
    .hero-content h1 {
        text-shadow: 0px 3px 6px #00000017;
    }
    .hero-content .white-bar {
        margin-bottom: 2.0rem;
    }
    .golden-plan-p {
        display: block;
    }
    .modal-container {
        height: 100vh;
    }
   
   
}