* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}
/*Uso de variáveis para as principais definições 
do projeto*/
:root {
    --open-sans: 'Open Sans', sans-serif;
    --yellow-color-1: #D6A430;
    --yellow-color-2: #F7B53D;
    --yellow-color-3: #9A6D0C;
    --yellow-color-4: #EFC566;
    --yellow-color-5: #E8BB15;
    --yellow-color-6: #FFD984;
    --yellow-color-7: #B47D07;
    --yellow-color-8: #D7A636;
    --close-button: #C9C9C9;
    --black: #000;
    --black-1: #171717;
    --gray: #4b4b4b;
    --gray-2: #BFBFBF;
    --gray-3: #C5CCD9;
    --gray-4: #404040;
    --gray-5: #1A1A1A;
    --white: #fff;
}
html, body {
    height: 100vh;
    font-family: var(--open-sans);
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 62.5%;
}

header {
    opacity: 1;
    padding: 14px 21px 16px;
}
header .container-lg, main .container-lg {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin:auto;
}
header .logo-box {
    display: flex;
    align-items: center;
}

/*Primeira imagem do header*/
header .logo-box img:first-child {
    width: 42px;
    height: 30px;
    margin-right: 20px;
}
/*Segunda imagem do header*/
header .logo-box img:last-child {
    width: 73px;
    height: 20px;
}
/*Menu de hamburguer */
.one, .two, .three {
    background-color:var(--black);
    height:2px;
    width: 100%;
    margin: 6px auto;
    transition-duration: 0.3s;
}
.menu-section.on .menu-toggle .one {
    transform: rotate(41deg) translate(5px, 1px);
}

.menu-section.on .menu-toggle .two {
    opacity: 0;
}

.menu-section.on .menu-toggle .three {
    transform: rotate(-39deg) translate(8px, -10px)
}
.hero {
    margin-bottom: 4.0em;
}
 .hero .container-lg {
    flex-direction: column;
    text-align: center;
}
.menu-toggle {
    width: 35px;
    height: 21px;
    /* margin-right: 40px; */
}
.menu-section.on {
    position: absolute;
    bottom: 0;
    right: 0;
    height: calc(100vh - 60px);
    width: 100vw;
    background-color: var(--yellow-color-3);
    z-index: 20;
    display: flex;
    justify-content: flex-start;
    transition: 0.5s;
    /* padding: 20px; */
}
.menu-section.on .menu-toggle {
    position: absolute;
    right: 25px;
    top: -45px;
}
.menu-section.on nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    color: var(--white);
}
.menu-section.on nav ul {
    text-align: left;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.menu-section.on nav ul li {
    font-size: 2.1rem;
    border-bottom: 2px solid var(--yellow-color-4);
    padding: 7px 20px;
    letter-spacing: 0.42rem;
    font-weight: 600;
}
.menu-section.on .talk-to-us-box {
    padding: 20px 0px  ;
}
.menu-section.on .talk-to-us-box {
    display: block;
    max-width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.menu-section.on .talk-to-us-box .contact-number {
    text-align: center;
    margin-bottom: 1.0rem;
}
.menu-section.on .talk-to-us-box .contact-number p:first-child {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 400;
}
.menu-section.on .talk-to-us-box .contact-number p:last-child {
    font-size: 2.5rem;
    font-weight:900;
}

.menu-section.on .talk-to-us-box .whatsapp, .talk-to-us-box .call-us {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-transform: uppercase;
    background-color: var(--yellow-color-2);
    border-radius: 12px;
    box-shadow: 0px 3px 6px #00000029;

}
.menu-section.on .talk-to-us-box .whatsapp i, .talk-to-us-box .call-us i {
    margin-right: 1.0rem;
    font-size: 2.6rem;
}
.menu-section.on .talk-to-us-box .whatsapp p, .talk-to-us-box .call-us p{
    font-size: 1.5rem;
}
.menu-section.on .talk-to-us-box .whatsapp {
    padding: 1.8rem 4.5rem;
    margin-bottom: 1.0rem;
}
.menu-section.on .talk-to-us-box .call-us {
    padding: 2.8rem 4.4rem;
    margin-bottom: 1.0rem;
}

header nav ul {
    display: flex;
}
header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: var(--yellow-font-1);
    font-size: 2.1rem;
}

nav {
    display: none;
}

section.hero .container-lg {
    width: 90%;
    max-width: 1200px;
    display: flex;
    align-items: flex-start;
}
.hero {
    height: calc(100vh - 60px);
    background: url('../images/hero-image.png') no-repeat;
    background-position:right;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-content {
    max-width: 337px;
}
 .hero-content h1{
    text-align: left;
    font-size: 3.0rem;
    color: var(--white);
    text-shadow: 0px 3px 4px #00000082;
    font-weight:bold;
    opacity: 1;
    margin-bottom: 1.0rem;
}

.hero-content .white-bar {
    background-color: var(--white);
    width: 16.2rem;
    height: 0.2rem;
    margin-bottom: 2.7rem;
}
.hero-price-box {
    margin-bottom: 1.2rem;
    display: flex;
    align-items: center;
}
.hero-price-box .price {
    color: var(--white);
    font-size: 1.7rem;
    font-style: italic;
    margin-right: 1.0rem;
    
}
.hero-price-box .real {
    font-weight: bold;
}
.hero-price-box span .real-value {
    font-size: 3.3rem;
    font-weight:bold;
}
.hero-price-box .cents {
    font-size: 1.8rem;
    font-weight: 900;
}
.hero-price-box button {
    font-size: 1.3rem;
    border: none;
    font-weight:400;
    color: var(--white);
    text-transform: uppercase;
    padding: 9px 21px;
    background-color: var(--yellow-color-2);
    box-shadow: 0px 3px 6px #0000008A;
    border-radius: 19px;
    opacity: 1;
}
.price-obs {
    color: var(--white);
    font-size: 0.8rem;
    opacity: 0.5;
    margin-bottom: 3.0rem;
    text-align: left;
}
/************CONTAINER DO MODAL*************/
.modal-container {
    position: fixed;
    width: 100vw;
    height: calc(100vh - 60px);
    bottom: 0;
    left: 0; 
    background-color: rgba(0, 0, 0, 0.602);
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal {
    position: relative;
    background-color: var(--white);
    border-radius: 12px;
    max-width: 309px;
    padding: 1.9rem 1.0rem 1.0rem 1.0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 30.9rem;
}
@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    
    to {    
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.modal .modal-button {
    position: absolute;
    top: -0.5rem;
    right: -1.3rem;
    border: none;
    color: var(--close-button);
    font-size: 2.0rem;
    font-weight: lighter;
    background-color: transparent;
}
.modalAnimation {
    animation: modal .3s;
}

.modal h1 {
    margin-bottom: 0.5rem;
    font-size: 1.9rem;
    color: var(--yellow-color-5);
    font-weight: 900;
}
.modal-text-box {
    min-width: 21.9rem;
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    text-align:start;
    position: relative
}
.modal h3 {
    font-size: 1.2rem;
}

.modal ul {
    list-style: none;
}
.modal ul li {
    font-size: 1.2rem;
    margin: 0.3rem 0rem;
}
.modal-text-box h3:nth-last-child(2) {
    margin-top: 2.0rem;
}
.modal ul li::before {
    content: "-";
    margin-right: 2px;
}
.hospital-list-download {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: var(--yellow-color-3);
    color: var(--white);
    padding: 0.7rem 1.9rem;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 15px;
    opacity: 1;
    font-weight: bold;
    margin-top:2.0rem ;
    width: 100%;
}
.hospital-list-download i {
    margin-right: 3px;
}

/*-=-=-=-=-= SESSÃO PLANO OURO -=-=-=-=-=*/

main .container-lg {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 90%;
    max-width: 1200px;
    margin:auto;
}

.section-title{
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--black-1);
}
 .title-bar {
    max-width: 16.2rem;
    height: 0.2rem;
    background-color:  var(--yellow-color-2);
    margin-top: 1.5rem;
    margin-bottom: 1.8rem;
}
.default-section-p  {
    font-size: 1.5rem;
    text-align: left;
    color: var(--gray);
    margin-bottom:1.5rem ;
}
.collapse-container {
    background-color: var(--yellow-color-1);
    border-radius: 12px;
    box-shadow: 0px 3px 6px #00000029;
    padding: 2.3rem 2.7rem 3.1rem 2.7rem;
    color: var(--white);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.golden-plan-box h6 {
    font-size: 1.5rem;
    color: var(--yellow-color-6);
    font-weight: 400;
    margin-bottom: 0.6rem;
}
.golden-plan-box p {
    font-style: italic;
    font-size: 1.5rem;
    color: var(--white);
    font-weight: normal;
    margin-bottom: 0px;
}
.golden-plan-box .real {
    font-size: 2.1em;
    font-weight: 900;
}
.golden-plan-box .real-value {
    font-size: 4.0rem;
    font-weight: 900;
}
.golden-plan-box .cents {
    font-size: 2.2rem;
    font-weight: 900;
}
.description-plan-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 135px;
    margin-left: 0.5rem;
}
.description-plan-box p {
    font-size: 0.7rem;
    color: var(--white);
}
.description-plan-box img {
    max-width: 8.9rem;
}
.collapse-btn-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin-top: 2.2rem;
}

.collapse-btn-box button, .collapse-btn-box .btn-box {
    border: none;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 15px;
    width: 100%;
    font-size:1.2rem ;
    text-transform: uppercase;
    padding: 0.7rem;
    font-weight:600;
}
.collapse-btn-box button {
    background-color: var(--yellow-color-2);
    color: var(--white);
    font-size:1.2rem ;
    margin-bottom: 1.9rem;
    letter-spacing: 0.12rem;
}
.collapse-btn-box .btn-box {
    background-color: var(--yellow-color-3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.2rem ;
}
.btn-box i {
    margin-right: 0.5rem;
}
.collapse-container {
    margin-bottom: 2.2rem;
}
.collapse-container ul li {
    list-style: none;
    border-bottom: 1px solid var(--yellow-color-7);
    padding: 1.0rem;
    font-size: 1.5rem;
}
.collapse-container ul li p {
    font-size: 1.0rem;
    color: var(--white);
    margin-bottom: 0;
}
.collapsed-container {
display: none;
flex-direction: column;
align-items: center;
transition: 0.4s;

}
.collapsed-container ul {
    margin-bottom: 1.25rem;
}
.displayOff {
    display: none;
}
.accomodation, .coverage {
    display: flex;
    align-items: center;
}
.accomodation svg, .coverage svg {
    margin-right: 2.5rem;
}
.accomodation p , .coverage p {
    font-style: normal;
    color: var(--white);
} 
.accomodation p strong, .coverage p strong {
    font-size: 1.5rem;
    color: var(--white);
    font-weight: 900;
}
@keyframes accordion {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    
    to {    
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.accordion {
    animation: accordion 0.4s;
}
section .hospitals {
    display: flex;
}
.hospitals-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.hospital-card, .health-card, .benefits-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 12px;
    margin-bottom: 2.3rem;
    max-width: 34.0rem;
}
.hospital-card img, .health-card img{
    max-width: 100%;
}
.card-title {
    font-weight: 900;
    font-size: 1.5rem;
    margin-top: 0.9rem;
    color: var(--yellow-color-5);
    max-width: 19.0rem;
    text-align: center;
}
.hospital-card i{
    color: var(--gray-2);
    font-size: 2.0rem;
    margin-bottom: 1.2rem;
}
.card-accordion {
    padding: 0rem 2.5rem;
    display: none;
}
.card-accordion p{
    font-size: 1.2rem;
    color: var(--gray);
    margin-bottom: 1.9rem;
}
.hospital-address, .hospital-telephone {
    display: flex;
}
.hospital-address i, .hospital-telephone i {
    color: var(--yellow-color-2);
    margin-right: 0.8rem;
}
.hospital-address p, .hospital-address p{
    font-size: 1.2rem;
    font-style: normal;
}
.hospital-address {
    border-top: 1px solid var(--gray-3);
    padding-top: 1.9rem;
    padding-bottom: 0.9rem;
}
.hospital-address address {
    font-style: normal;
    color: var(--gray);
    font-size: 1.2rem;
}
.hospital-telephone  {
    padding-bottom: 2.0rem;
}
.btnAccordion {
    transform: rotate(180deg);
    transition: 0.4s;
}
.btnAccordionOff {
    transform: rotate(-180);
    transition: 0.4s;
}
.benefits-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.benefits-card {
    margin-bottom: 2.3rem;
}

.card-content {
    padding: 0rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.benefits-card img {
    max-width: 100%;
}
.benefits-card .card-p {
    font-size: 1.2rem;
    color: var(--gray-4);
    margin-top: 0.8rem;
}
.benefits-card button {
    background-color: var(--yellow-color-3);
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 16px;
    padding: 0.9rem 3.5rem;
    letter-spacing: 0.09rem;
    border: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--white);
    margin: 3.0rem 0rem 3.3rem 0rem;
}
.benefits-cards p:nth-child(3) {
    color: var(--gray-5);
    padding: 0rem 2.5rem 3.0rem;
}
.health-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.health-card-title {
    font-size: 2.0rem;
    font-weight: 900;
    color: var(--yellow-color-5);
    margin-top: 2.7rem;
    margin-bottom: 1.8rem;
    text-transform: uppercase;
}
.health-card p {
    font-size: 1.5rem;
    color: var(--gray-5);
    text-align: center;
    margin-bottom: 2.5rem;
}
.card-bar {
    height: 2px;
    width: 16.2rem;
    margin-bottom: 25px;
    background-color: var(--yellow-color-4);
}

.card-content ul {
    list-style: none;
    margin-bottom: 4.3rem;
}
.card-content ul li {
    font-size: 1.4rem;
    margin-bottom: 1.8rem;
    display: flex;
}
.card-content ul li p {
    max-width: 23.5rem;
    text-align: left;
}
.card-content ul li p:last-child,
 .card-content ul li:last-child {
    margin-bottom: 0rem;
}

.card-content ul li::before {
    content: "✔";
    color: var(--yellow-color-8);
    margin-right: 0.5rem;
}
.health-card .card-p-content {
    display: flex;
    align-items: baseline;
}
.health-card .check {
    color: var(--yellow-color-8);
    margin-right: 0.5rem;
    display: inline-flex;
    font-size: 1.4rem;
}
.health-card .card-p {
    font-size: 1.4rem;
    color: var(--gray-5);
    text-align: left;
    max-width: 22.5rem;
    line-height: 2.0em;
}
